<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.rsguy.beepybox"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Beepbox</name>

  <description>
      Beepbox For Android
  </description>

  <author href="" email="redstoneguy.lel@gmail.com">
      RSGuy
  </author>

  <icon src="icon.png" />

</widget>